<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LocalCommunity</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82913843-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82913843-2');
</script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/regular.css" integrity="sha384-OEIzojYBMrmz48aIjVQj7VG38613/sxpP58OW9h5zBYC7biGFlv9tyu5kWmaAYlF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/brands.css" integrity="sha384-BCEeiNUiLzxxoeYaIu7jJqq0aVVz2O2Ig4WbWEmRQ2Dx/AAxNV1wMDBXyyrxw1Zd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div id="content">
	    <header>
	        <div class="searchber">
	            <form action="/tasks" autocomplete="off" method="get" autocomplete="off" >
	                <input type="text" placeholder="＃キーワードを検索..." name="tag" class="tag_s_fo">
	                <button type="submit" class="tag_s_b"><i class="fas fa-search"></i></button>
	            </form>
	            <div class="user_ber">
	            </div>
	        </div>
            <div class="profile">

    <% if !current_user.nil? %>
    <div class="profile_icon">
  
     <img src="">
    </div>
    <div class="setting_icon"><button><i class="fas fa-cog"></i></button></div>
    <div class="profile_post">
<!--<div class="scroll_m"></div>-->
            
     <div class="my_posts">
         
         <div class="p_view">
      <div class="info_ber">
       <figure><img></figure>
       <div class="my_pro">
        <p class="my_name"><%= current_user.name %></p>
        <p class="my_bio"><%= current_user.about %></p>
        <div>
         <p class="my_lca"><%= current_user.location %></p>
         <p class="my_tags"><%= current_user.ustags %></p>
          </div>
       </div>
      </div>

             <div class="poster">
                 
              <div class="postion">
                <figure class="figg" onclick="addv()">
                   <div class="add">

                    </div>
                             <p class="addp">+</p>
                  </figure>
                  	 
                  <script>
                  function addv() {
                      $(".posts").toggleClass("pos_visi");
                      $(".p_view").toggleClass("p_move");

                      var a = "saa";
                      console.log(a);
                  };



                  </script>

                 <% @tasks.each do |task| %>
                 <figure class="fig<%= task.id %> figfig">
                 <img src="<%= task.img %>" class="taskimg<%= task.id %>">

<style>

    .taskimg<%= task.id %>{
        width: 100%;
        transition: .3s ease;
        object-fit: cover;
        height: auto;
    }

    .fig<%= task.id %>:hover .taskimg<%= task.id %>{
         width: 100%;
         object-fit: cover;
        transform: scale(1.1);
        filter: brightness(70%);
        transition: .3s ease;
        height: auto;

    }
.poster .fig<%= task.id %>{


overflow: hidden;
    background-size: 150%;
      width: 129px;
    height: 129px;
margin-top: 6px;


    transition: .3s;
}








    .fig<%= task.id %>:hover{


cursor: pointer;
        transition: .3s;
    }
    .po_con<%= task.id %>{
        position: absolute;
        height: 100%;
    opacity: 0;
        width: 100%;


    transition: .3s;
        color: #fff;
}

.po_conon<%= task.id %>{
    opacity: 1;
    transition: .3s;
}
</style>

                 <div class="po_con<%= task.id %>">
                 <div class="poscon">
                  <!-- <p class="p_title"><%= CGI.escapeHTML(task.title) %></p>--><p class="p_tag"><% task.tags.each do |tag| %><span style="background-color: #333; color: #fff; border-radius: 2px; margin-right: 2px; padding: 3px 3px 3px 3px;">＃<%= CGI.escapeHTML(tag.post_tag) %></span><% end %></p>

                     </div>


                  <!-- <form action="/tasks/<%= task.id %>/delete" method="post">

                    <button type="submit">
                     消す
                    </button>
                      </form>
                    <button class="edit"><i class="fas fa-edit"></i></button>

                    <div class="editform">
                    <form action="/tasks/<%= task.id %>/" autocomplete="off" method="post">
                     <input type="text" name="title" placeholder="タイトル" value="<%= CGI.escapeHTML(task.title) %>"><br>
                     <input type="text" name="description" placeholder="説明" value="<%= CGI.escapeHTML(task.description) %>"><br>
                     <input type="text" name="location" placeholder="位置情報" value="<%= CGI.escapeHTML(task.location) %>"><br>
                     <% task.tags.each do |tag| %>
                      <input type="text" name="post_tag" placeholder="タグ" value="<%= CGI.escapeHTML(tag.post_tag) %>"><% end %><br>
                     <button type="submit">
                      完了
                     </button>
                    </form>
                    </div> -->
                </div>
                   <script>
                     $(".fig<%= task.id %>").on({
                       'mouseenter': function() {
                       $(".po_con<%= task.id %>").addClass('po_conon<%= task.id %>');
                         },

                         'mouseleave': function() {
                       $(".po_con<%= task.id %>").removeClass('po_conon<%= task.id %>');
                         }
                       });
                     </script>
                    </figure>
                    <script>
                     $('.edit').click(function(){
                      $('.editform').toggleClass('edi_on');
                     });
                    </script>


               <% end %>


              </div>
             </div>
         </div>
           <div class="posts disp">
               <a class="back"><p>＜ 戻る</p></a>
 <form action="/tasks" autocomplete="off" method="post" enctype="multipart/form-data">
  <div class="pos_in">
     <label for="image_up" class="up_ber">
      <input type="file" id="image_up" name="file" value="写真を...">
      </label>
        <div>
   <div class="pos_con">

     <input type="text" name="title" placeholder="タイトル"><br>
     <input type="text" name="description" placeholder="説明を..."><br>

     <input type="text" name="location" placeholder="位置情報を..."><br>
      <input type="text" name="post_tag" placeholder="#tags..."><br>
   </div>



   <div>
    <input type="submit" value="投稿！！">
    </div>
   </div>




  </div>
 </form>
</div>
           </div>
    </div>
    <div class="profile_setting">
        <a href="/signout">ログアウト</a>
    </div>
     <script>

         $(".back").click(function(){
             $(".posts").removeClass("pos_visi");
                      $(".p_view").removeClass("p_move");
             console.log("ssaaa")
         });
     $(".profile_icon").on("click", function() {
  $(".profile_post").toggleClass('pr_op');
         $(".profile_setting").removeClass('st_op');
});

         $(".setting_icon").on("click", function() {
  $(".profile_setting").toggleClass('st_op');
 $(".profile_post").removeClass('pr_op');
});
    </script>
    <% else %>
    <a class="log_icon" >
    <p>ログイン／新規登録</p>
    <div class="wave"></div>
    <div class="wing"></div>

       </a>
       <div id="log_con">
        <div class="logg">
    <div class="login">
        <form action="/users"  method="post" enctype="multipart/form-data">
         <div class="mail">
          <i class="fas fa-at"></i>
            <input type="text"  name="email" placeholder="メールアドレス…">
</div>
         <div class="pass">
          <i class="fas fa-unlock-alt"></i>
            <input name="password" placeholder="パスワード…" type="password">
 </div>
 <div class="in_ber">
            <button type="submit">
                ログイン！
            </button>

            </div>
             <div class="in_ber" >
                          <button class="sinki" type="button">新規登録！</button>

             </div>
        </form>

        </div>

        </div>
    </div>
    <div class="sin_con">
        <div class="touroku">
        <form action="/sinki" method="post" enctype="multipart/form-data">
            <div class="t_name"><i class="fas fa-user"></i><input type="text" name="name" placeholder="名前…"></div>
            <div style="display: none;"><input type="text" name="about" style="display: none;"></div>
            <div class="t_name"><i class="fas fa-id-card-alt"></i><input type="text" name="user_name" placeholder="ユーザーID（英数字半角）"></div>
            <div class="t_mail"><i class="fas fa-envelope"></i><input type="text" name="email" placeholder="メールアドレス…"></div>
            <div class="t_pass"><i class="fas fa-key"></i><input type="password" name="password" placeholder="パスワード（８文字以上）"></div>
            <div class="t_pass"><i class="fas fa-check-circle"></i><input name="password_confirmation" type="password" placeholder="パスワードを確認…"></div>
            <div class="t_loc"><i class="fas fa-map-marker-alt"></i><input type="text" name="location" placeholder="位置情報"></div>
            <div class="t_tag"><i class="fas fa-hashtag"></i><input type="text" name="ustag" placeholder="＃タグ…"></div>
            <button type="submit">
                登録！！
            </button>
        </form>
     </div>
    </div>
    <script>
     $(".log_icon").on("click", function() {
  $("#log_con").toggleClass('lo_op');
         $(".sin_con").removeClass('sn_op');
});
$('#main').click(function(){
 $("#log_con").removeClass('lo_op');
});
    </script>
    <script>
     $(".sinki").on("click", function() {
  $(".sin_con").addClass('sn_op');
  $("#log_con").removeClass('lo_op');
});
    </script>
    <% end %>

	  </div>
	 </header>

		<div id="main">


		 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6484.037153273653!2d139.68656227348026!3d35.65191394599549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1541207360686" width="600" height="450" frameborder="0" style="border:0" class="map" allowfullscreen></iframe>

		</div>
		</div>
		<script>
            $(function(){
	   $('.tag_s_fo')
           .focusin(function(e){
	    $('.searchber').css('box-shadow', '1px 2px 30px 0px #33333380');
           console.log("focus");
	   })

            .focusout(function(e){
	    $('.searchber').css('box-shadow', '1px 2px 15px 0px #33333380');
           console.log("focus");
	   });
              });
	  </script>
</body>
</html>
